*{
    border: 0;
    padding:0;
    margin:0;
}

body,html{
    font-family: 微软雅黑;
    overflow-x: auto;
    background: #f8f8f8;
}

.cle{
    display: block;
    content: '';
    clear: both;
    line-height: 0;
    visibility: hidden;
}
a{
    color:#39A030;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
i{
    font-style: normal;
}
ul{
    list-style: none;
}




/********** head **********/
.header .bghint{
    display: none;
    width: 100%;
    height: 100%;
    background: #F3F3F3;
}
.header .hint{
    width: 1208px;
    height:36px;
    margin:0 auto;
    background: #F3F3F3;
}
.header .hint div{
    height:36px;
    line-height: 36px;
    font-size: 12px;
    color: #333;
}
.header .hint i{
    display: block;
    float: right;
    width: 10px;
    height: 12px;
    margin-top:11px;
    background: url("../img/icon.png") 0 -211px no-repeat;
}
.header .hint span{
    float: right;
    height: 0.9rem;
    margin-left: 2px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}

.header .bg{
    width: 100%;
    height: 100%;
    background: #fff;
}
.header .nav{
    width: 1208px;
    height:90px;
    margin:0 auto;
    background: #fff;
}
.header .nav .icon{
    float: left;
    width: 238px;
    height: 22px;
    margin-top:30px;
}
.header .nav .icon i{
    display:block;
    float: left;
    width: 74px;
    height: 22px;
    background: url("../img/icon.png") 0 2px no-repeat;
}
.header .nav .icon span{
    display: block;
    float: right;
    height: 22px;
    line-height: 22px;
    font-size: 22px;
    color: #333;
}
.header .nav .attention{
    display: block;
    float: left;
    width: 54px;
    height: 22px;
    margin:30px;
    font-size: 12px;
    padding-left: 10px;
    color: #fff;
    border-radius: 2px 2px;
    cursor: pointer;
    background: #21A557 url("../img/icon.png") 8px -51px no-repeat;
}
.header .nav .attention:hover{
    background-color: #2FB556;
}

.header .nav .cancel{
    display: inline-block;
    float: left;
    width: 108px;
    height: 20px;
    line-height: 20px;
    margin:30px;
    border:1px solid #efefef;
    background: #f8f8f8 ;
}
.header .nav .cancel .followed{
    display:block;
    float: left;
    width: 40px;
    height: 22px;
    padding-left: 22px;
    font-size: 12px;
    line-height: 20px;
    font-family: 宋体;
    background: url("../img/icon.png") 8px -184px no-repeat;
}
.header .nav .cancel i{
    font-size: 12px;
    color: #ccc;
}
.header .nav .cancel a{
    line-height: 20px;
    font-size: 12px;
    color: #999;
}
.header .nav .cancel a:hover{
    color:#39A030;
}


.header .nav>span{
    display: block;
    float: left;
    margin-top: 30px;
    color: #666;
}

.header .nav ul{
    float: right;
}
.header .nav ul li{
    float: left;
    margin-top:30px;
    padding-right:54px;
}
.header .nav ul li:last-child{
    position: relative;
    padding-right: 50px;
    margin-right: 14px;
}
.header .nav ul li:last-child i{
    position: absolute;
    display: inline-block;
    float: right;
    width:22px;
    height: 22px;
    right:0;
    background: url("../img/icon.png") 0 -79px no-repeat;
}


.header .nav ul li a{
    color: #666;
}
.header .nav ul li a:hover{
    color:#39A030;
    text-decoration: none;
}

.header .banner{
    position: relative;
    min-width: 1208px;
    height: 460px;

}
.header .banner ul{
    position: relative;
    height: 100%;
    overflow: hidden;
}
.header .banner ul li{
    position: absolute;
    width: 100%;
    float: left;
    left: 100%;
    opacity: 1;
}
.header .banner ul .opeimg{
    left:0;
    opacity: 1;
}
.header .banner a img{
    position: relative;
    float: left;
    width: 100%;
    height:460px;
}
.header .banner div{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    height: 10px;
    z-index: 55;
}
.header .banner .dot i{
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 5px;
    background: #fff;
}
.header .banner .dot i:last-child{
    margin-right:0;
}
.header .banner .dot .on{
    background: #333;
}

.header .detail{
    width: 100%;
    height:100%;
    background: #fff;
}
.header .detail .boxdet{
    width: 1208px;
    height:176px;
    text-align: center;
    padding: 60px 0;
    margin:0 auto;
    background: #fff;
}
.header .detail .clas{
    display: inline-block;
    width:348px;
}
.header .detail .clas1{
    float: left;
}
.header .detail .clas3{
    float: right;
}
.header .detail .clas i{
    display:block;
    float: left;
    width: 82px;
    height: 88px;
    margin-right: 19px;
    background: url("../img/icon.png") no-repeat;
}
.header .detail .clas .op{
    background-position: -70px -181px;
}
.header .detail .clas .cl{
    background-position: -70px -90px;
}
.header .detail .clas .sc{
    background-position: -72px 1px;
}
.header .detail .clas div{
    display: inline-block;
    text-align: left;
    width: 244px;
}
.header .detail .clas div h3{
    font-weight: 400;
    font-size: 22px;
    color: #333;
    padding-bottom: 14px;
}
.header .detail .clas div p{
    font-size: 14px;
    color: #666;
    padding-bottom: 26px;
}

.header .workimg{
    min-width: 1208px;
    margin-left: -5px;
    background: #f8f8f8;
}
.header .workimg img{
    float: left;
    width: 20%;
    padding-left: 5px;
    box-sizing: border-box;
}
/********** /head **********/

/********** main **********/
.main{
    position: relative;
    width: 1208px;
    margin:82px auto 128px;
}
.main .sub{
    position: relative;
    z-index: 70;
    margin-right: 226px;
}
.main .sub .kind{
    display: inline;
    cursor: pointer;
}
.main .sub .kind li{
    display: inline-block;
    width: 200px;
    height:52px;
    line-height: 52px;
    text-align: center;
    font-size: 20px;
    color: #666;
    background: #fff;
    box-shadow: 1px 1px 1px 1px #d3d3d3;
}
.main .sub .kind .checktab{
    color: #fff;
    background: #39A030;
}
.main .sub .pro{
    margin-top: 10px;
    /*overflow: hidden;*/
    /*overflow-y: hidden;*/
    background: #f8f8f8;
}
.main .sub .pro li{
    position: relative;
    float: left;
    list-style: none;
    width: 222px;
    height:230px;
    margin-top:20px;
    margin-right: 20px;
    background: #fff;
    box-shadow: 0 1px 1px 1px #e6e6e6 ;
}
.main .sub .pro li:hover{
    box-shadow: 0 1px 1px 1px #aaa;
}
.main .sub .pro li img{
    z-index: 80;
}
.main .sub .pro li .detsmal{
    margin:10px 5px;
}
.main .sub .pro li .detsmal p{
    font-size: 12px;
    color: #333;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.main .sub .pro li:hover .detsmal p{
    color: #39a030;
}
.main .sub .pro li .detsmal span{
    display: inline-block;
    width: 100%;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.main .sub .pro li .detsmal i{
    display: inline-block;
    height:16px;
    color: #ccc;
    font-size: 10px;
    margin:5px 0;
    padding:0 10px 0 16px;
    border:1px solid #ddd;
    background: url("../img/icon.png") 0 -245px no-repeat;
}
.main .sub .pro li .detsmal strong{
    font-size: 12px;
    font-weight: 400;
    color: #ff3f00;
}
.main .sub .checkdetail{
    height:1270px;
}
.main .sub .page{
    height: 20px;
    margin:30px;
    float: right;
}
.main .sub .page i{
    display: block;
    float: left;
    width: 30px;
    height:20px;
    margin-left: 10px;
    background: #9DD8B1 url("../img/icon.png") 6px -134px no-repeat;
}
.main .sub .page .right{
    background-position: -15px -134px;
}
.main .sub .page  li{
    display: block;
    float: left;
    width:20px;
    height:20px;
    margin-left: 10px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
}
.main .sub .page  li:hover{
    text-decoration: none;
    color: #fff;
    background: #9DD8B1;
    cursor: pointer;
}
.main .sub .page .checka{
    color: #9DD8B1;
}

.main .aside{
    position: absolute;
    right:0;
    top:0;
    width: 224px;
}
.main .aside>div{
    width: 100%;
    height:230px;
    border:1px solid #ECEBEB;
    box-shadow: 0 1px 2px 1px #D4D3D3;
    background: #fff;
    margin-bottom:20px;
}
.main .aside>div h4{
    padding:20px 24px;
    border-bottom: 1px solid #ddd;
    font-size:16px;
    font-weight:400;
    color: #333;
}
.main .aside>div>div{
    position: relative;
    padding:20px 24px;
    font-size: 14px;
    color: #666;
}
.main .aside .organ div a{
    display: block;
    position: absolute;
    bottom: 24px;
    left: 24px;
    width: 180px;
    height:110px;
    background: url("../img/video.png") no-repeat;
}

.main .aside .hot{
    height: 780px;
}
.main .aside .hot ul li{
    padding: 20px 20px 0;
    height: 50px;
}
.main .aside .hot ul li img{
    display: inline-block;
}
.main .aside .hot ul li div{
    display: block;
    float: right;
    width: 124px;
    cursor: pointer;
}
.main .aside .hot ul li div p{
    height: 14px;
    line-height: 14px;
    padding-bottom: 6px;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.main .aside .hot ul li div i{
    display: inline-block;
    height: 12px;
    line-height: 12px;
    font-size: 12px;
    color: #999;
    padding-left: 16px;
    background: url("../img/icon.png") -2px -246px no-repeat;
}

/********** /main **********/

/********** footer **********/
.footer{
    width: 100%;
    min-width: 1208px;
    height: 182px;
    padding-top: 80px;
    background: #2C3339;
}
.footer .fbox{
    width: 1028px;
    margin:0 auto;
}

.footer .info{
    float: left;
    width: 544px;
    color: #828487;
}
.footer .info i{
    float: left;
    display:block;
    width: 74px;
    height: 22px;
    background: url("../img/icon.png") 0 2px no-repeat;
}
.footer .info span{
    height: 22px;
    line-height: 22px;
    font-size: 22px;
    color:#3F9935;
}
.footer .info p{
    margin-top:22px;
    font-size:12.5px;
}
.footer .info p:last-child{
    margin-top:0;
}

.footer ul{
    float: left;
    list-style: none;
    font-size:12.5px;
    color: #828487;
}
.footer .flink{
    width: 210px;
}
.footer .abort{
    width: 134px;
}
.footer ul li{
    margin-top: 12px;
    font-size:14.58px;
}
.footer .abort li:last-child a{
    float: left;
    display: block;
    padding-right: 32px;
    background: url("../img/icon.png") 40px -158px no-repeat;
}
.footer ul li a{
    color: #828487;
    text-decoration: none;
}
.footer ul li a:hover{
    cursor: pointer;
    text-decoration: underline;
}
/********** /footer **********/

/********** 视频全屏播放 ******/
body .bg-b,.bg-l{
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 99;
    display: none;
}
body .bg-b .bg-w{
    position: absolute;
    display: inline-block;
    left:50%;
    top:50%;
    transform: translate(-50% ,-50%);
    padding:0px 32px 42px;
    background: #fff;
    z-index: 100;
    overflow: hidden;
}
body .bg-b .bg-w i{
    position: absolute;
    right: 14px;
    top:14px;
    font-size: 12px;
    font-family: 微软雅黑;
    color: #444;
    cursor: pointer;
}
body .bg-b .bg-w p{
    margin-top: 28px;
    font-size: 18px;
    line-height: 18px;
    color: #444;
    margin-bottom: 25px;
}

body .bg-b .bg-w video{
    display: inline-block;
}

/********** /视频全屏播放 ******/

/**********  登录 *************/
body .bg-l{
    display: none;
}
body .bg-l .login{
    position: absolute;
    width: 388px;
    height: 288px;
    left:50%;
    top:50%;
    transform: translate(-50% ,-50%);
    background: #fff;
    z-index: 100;
}
body .bg-l .login i{
    float: right;
    font-size: 12px;
    color: #444;
    padding:10px;
    font-weight: 700;
    cursor: pointer;
}
body .bg-l .login .l-form{
    display: inline-block;
    padding:0 40px 40px;
}
body .bg-l .login .l-form h3{
    font-size: 18px;
    line-height: 18px;
    color: #444;
    padding-bottom: 20px;
}
body .bg-l .login .l-form input{
    width: 282px;
    height:42px;
    padding-left:10px;
    font-size: 16px;
    margin-bottom: 15px;
    border:1px solid #dfdfdf;
    background: #fafafa;
    box-shadow: inset 1px 1px 0px 2px #f1f1f1 ;
}
body .bg-l .login .l-form #loginBtn{
    width:292px;
    height:46px;
    background: url("../img/bg.jpg") 0 0 repeat-x;
    box-shadow: 2px 2px 0px 1px #D5E3DA;
    margin-top: 15px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
body .bg-l .login .l-form .j-disabled{
    cursor: default;
    background-color: #ddd;
}
/********** /登录 *************/



/********** 弹窗  *************/
.main .sub .pro .detbig{
    position: absolute;
    top:-11px;
    left:-11px;
    width: 482px;
    height:250px;
    background: #fff;
    border:1px solid #d0d0d0;
    box-shadow: 1px 1px 2px 2px #d0d0d0;
    display: none;
    overflow: hidden;
}
.main .sub .pro li:hover .detbig{
    display: block;
    z-index: 9999;
}
.main .sub .pro .detbig img{
    float: left;
    padding:10px 20px 20px 10px;
}
.main .sub .pro .detbig p{
    font-size: 12px;
    color: #989898;
}
.main .sub .pro .detbig h3{
    padding-top: 10px;
    font-size: 18px;
    font-weight: normal;
    color: #333;
}
.main .sub .pro .detbig .people i{
    display: inline-block;
    height:16px;
    font-size: 10px;
    margin-top:14px;
    padding-left:16px;
    background: url("../img/icon.png") 0 -245px no-repeat;
}
.main .sub .pro .detbig .author{
    margin: 9px 0 5px;
}
.main .sub .pro .detbig p:last-child{
    position: absolute;
    top:156px;
    width: 442px;
    height: 84px;
    padding:22px 20px;
    font-size: 14px;
    background: #f8f8f8;
    overflow:hidden;
    /*限制行数超出末尾加省略号，但只有chrome有效*/
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 24px;
    max-height: 84px;


}
/********** /弹窗 *************/




/********** media **********/
@media screen and (max-width: 1205px){
    body,html,.footer{
        overflow: auto;
        width: 1364px;
    }
    .header{
        overflow: hidden;
    }
    .header .hint{
        width: auto;
        padding-left:204px;
        padding-right:204px;

    }
    .header .nav{
        width: auto;
        padding-left:204px;
        padding-right:204px;
    }
    .header .banner{
        min-width: 1364px;
    }
    .header .detail .boxdet{
        width: auto;
        padding-left:204px;
        padding-right:204px;
    }
    .header .detail .clas{
        width:280px;
    }
    .header .detail .clas div{
        width: 172px;
    }
    .header .workimg{
        width: 1364px;
        height: 220px;
        overflow: hidden;
    }
    .header .workimg img{
        width: 25%;
    }
    .header .workimg div{
        position: relative;
        float: left;
        display: inline-block;
        width: 12.3%;
        height: 220px;
        overflow: hidden;
    }
    .header .workimg img:first-child{
        position: absolute;
        left: -100%;
    }
    .header .workimg div:last-child{
        margin-left: 5px;
    }
    .header .workimg img:first-child,.header .workimg img:last-child{
        width: 200%;
    }
    .main{
        width: 962px;
    }
}



/********** /media **********/
